## String

In [1]:
name = input("")
print("hello {} !".format(name))

Asad
hello Asad !

In [2]:
#From below string print Count of "Is"
string= "He is Amol and she is Chaitali"
count = string. count("is")
print("Count of is {}".format(count))

Count of is 2

In [3]:
#From below string Split the words by space
string= "Data is new oil"
splitted_list = string.split(" ")
print(splitted_list)

['Data', 'is', 'new', 'oil']

In [4]:
# now from above List , join all words "=" and create a sentence
list_1 = ["Data", "is", "new","oil"]
new_string = "=".join(list_1)
print(new_string)

Data=is=new=oil

In [5]:
# From below string replace "Java" with "python"
sentence = "I love Programming in Java"
new_sentence = sentence.replace("Java","Python")
print(new_sentence)

I love Programming in Python

In [6]:
message = "  This is a message with Spaces,  "
strip_msg = message.strip()
print(strip_msg)

This is a message with Spaces,

In [7]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
position = sentence.find("sample")
print(position)

10

In [8]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 14

In [9]:
#9. Print below string in reverse order
string = "Pineapple"
reversed_string = string[::-1]
print(reversed_string)

elppaeniP

In [10]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
capitalized_text = text.title()
print(capitalized_text)

Welcome To Python Programming.

In [11]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
uppercase_text = text.upper()
print(uppercase_text)

DATA IS NEW OIL

In [12]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
capitalized_text = text.capitalize()
print(capitalized_text)

I am learning python

In [13]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
swapped_text = text.swapcase()
print(swapped_text)

dAta IS nEw Oil

In [14]:
#14. print the addition of below 2 strings
a = 20
b = 30
result = a + b
print(result)

50

In [15]:
a = "20"
b = "30"
result = a + b
print(result)

2030

# List

In [16]:
# 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]= 44
print(my_list)

[1, 2, 3, 44, 5]

In [17]:
# 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)

In [18]:
print(my_list)

[1, 2, 3, 200, 4, 5]

In [19]:
# 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)

In [20]:
print(my_list)

[1, 2, 3, 4, 5, 66]

In [21]:
# 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 66)  
my_list.insert(4, 87) 
my_list.insert(5, 99)

In [22]:
print(my_list)

[1, 2, 66, 3, 87, 99, 4, 5]

In [23]:
# 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

In [24]:
print(my_list)

[1, 2, 4, 5]

In [25]:
# 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [26]:
# 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [27]:
# 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list[:-1]

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [28]:
#24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()

In [29]:
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [30]:
# 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)

In [31]:
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

# List Class 2

In [32]:
myList = [3, 'element number two', ['last', 'element']]
myList=[]

In [33]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[2])

3

In [34]:
listToModify= ['a','b','sixteen']
listToModify[-1] = 16
print(listToModify)

['a', 'b', 16]

In [35]:
listToFindLength = ['this', 'is', 'the', 'list', 'whose', 'length', 'I', 'want']
length_of_list = len(listToFindLength)
print(length_of_list)

8

In [36]:
intList = [54, 678, 2890]
sum_of_list = sum(intList)
print(sum_of_list)

3622

In [37]:
maxList = [677, 53245, 234, 236, 23456, 345, 23526, 34541]
max_value = max(maxList)
print(max_value)

53245

In [38]:
minList = [351, 984, 1697, 284, 134, 467, 164]
min_value = min(minList)
print(min_value)

134

In [39]:
listToAppend = [1, 2, 3]
listToAppend.append('append me!')
print(listToAppend)

[1, 2, 3, 'append me!']

In [40]:
listToFindLength = ['this', 'is', 'the', 'list', 'whose', 'length', 'I', 'want']
length_of_list = len(listToFindLength)
print(length_of_list)

8

#  Loops

## Example 1: Print the first 10 natural numbers using for loop.

In [41]:
n=11
for i in range(1,n):
    print(i)

1
2
3
4
5
6
7
8
9
10

## Example 2: Python program to print all the even numbers within the given range.

In [42]:
given_range = 10

for i in range(given_range):
    if i%2==0:
        print(i)

0
2
4
6
8

## Example 3: Python program to calculate the sum of all numbers from 1 to a given number.

In [43]:
given_number = 10

sum=0
for i in range(1,given_number+1):
    sum+=i
    
    print(sum)

1
3
6
10
15
21
28
36
45
55

## Example 4: Python program to calculate the sum of all the odd numbers within the given range.

In [44]:
given_range = 10

sum = 0

for i in range(given_range):
    if i %2!=0:
        sum+=i
        print(sum)

1
4
9
16
25

## Example 5: Python program to print a multiplication table of a given number

In [45]:
given_number = 5

for i in range(11):
    print(given_number,"x",i,"=",5*i)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Example 6: Python program to display numbers from a list using a for loop.

In [46]:
list=[1,2,4,6,88,125]

for i in list:
    print(i)

1
2
4
6
88
125

## Example 7: Python program to count the total number of digits in a number.

In [47]:
given_number= 129475

given_number=str(given_number)

count=0

for i in given_number:
    count+=1
print(count)

6

## Example 8: Python program to check if the given string is a palindrome.

In [48]:
given_string='madam'
reverse_string=""

for i in given_string:
    reverse_string=i+reverse_string

if(given_string==reverse_string):
    print("The String",given_string,"is a Palindrome.")
else:
    print("The String",given_string,"is not a Palindrome.")

The String madam is a Palindrome.

## Example 9: Python program that accepts a word from the user and reverses it.

In [49]:
given_string=input()
reverse_string=""

for i in given_string:
    reverse_string=i+reverse_string
print(reverse_string)

Asad Ali Mulls
slluM ilA dasA

## Example 10: Python program to check if a given number is an Armstrong number

In [50]:
given_number = 153
given_number = str(given_number)
string_length = len(given_number)

total_sum = 0

for digit in given_number:
    total_sum += int(digit) ** string_length

if total_sum == int(given_number):
    print("The Given Number", given_number, "is an Armstrong Number.")
else:
    print("The Given Number", given_number, "is not an Armstrong Number.")

The Given Number 153 is an Armstrong Number.

## Example 11: Python program to count the number of even and odd numbers from a series of numbers.

In [51]:
num_list=[1,3,5,6,99,134,55]
for i in num_list:
    if i %2==0:
        print(i,"This is an even Number.")
else:
    print(i,"This is an odd number.")

6 This is an even Number.
134 This is an even Number.
55 This is an odd number.

## Example 12: Python program to display all numbers within a range except the prime numbers.

In [52]:
import math

def is_not_prime(n):
    flag = False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            flag = True
            break  # You should break out of the loop if a divisor is found
    return flag

range_starts = 10
range_ends = 30

print("Non-Prime Numbers between", range_starts, "and", range_ends, "are:")
for number in filter(is_not_prime, range(range_starts, range_ends + 1)):
    print(number)

Non-Prime Numbers between 10 and 30 are:
10
12
14
15
16
18
20
21
22
24
25
26
27
28
30

## Example 13: Python program to get the Fibonacci series between 0 to 50.

In [53]:
num = 50
first_value, second_value = 0, 1

for n in range(0, num):
    if n <= 1:
        next = n
    else:
        next = first_value + second_value
        first_value, second_value = second_value, next

    if next > num:
        break

print(next)

55

## Example 14: Python program to find the factorial of a given number.

In [54]:
given_number=5

factorial =1
for i in range(1,given_number+1):
    factorial = factorial*i
    
print("The factorial of",given_number,"is",factorial)

The factorial of 5 is 120

## Example 15: Python program that accepts a string and calculates the number of digits and letters.

In [55]:
user_input = input()
digits = 0
letters = 0

for i in user_input:
    if i.isdigit():
        digits += 1
    elif i.isalpha():
        letters += 1

print("The input string", user_input, "has", letters, "letters and", digits, "digits.")

AsadALi Mulla 9206786768
The input string AsadALi Mulla 9206786768 has 12 letters and 10 digits.

# Dictionary

## 1. Given the following dictionary, print all the keys.

In [63]:
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
print(my_dict)

# Print all the keys
for key in my_dict.keys():
    print(key)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'occupation': 'Engineer'}
name
age
city
occupation

## . Given the following dictionary, print all the Values.

In [65]:
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
for values in my_dict.values():
    print(values)

Alice
25
New York
Engineer

## 2. Print all values of dictionary

In [57]:
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print all the values
for value in my_dict.values():
    print(value)

Alice
25
New York
Engineer

## 3. Print all values except "New York"

In [66]:
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print all values except the one with the key_to_exclude
for value in my_dict.values():
    if value!= "New York":
        print(value)

Alice
25
Engineer

## 4.  Delete key "age" from below dict

In [59]:
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Delete the "age" key from the dictionary
if "age" in my_dict:
    del my_dict["age"]

print(my_dict)

{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer'}

## 5. Print value of "occupation" from below dictionary.

In [60]:
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print the value associated with the key "occupation"
print(my_dict["occupation"])

Engineer